<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/lessons.js"></script>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>After School Activities</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h1 class="display-6">After School Activites</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Catalogue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cart</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Started VUE Application here -->
    <div id="VueApp">

        <!-- Toggle True: Catalogue View -->
        <div v-if="toggle">
            <div class="container text-center">
                <div class="display-6">Catalogue</div>
                <hr>
                <div class="row row-cols-3">
                    <div v-for="l in subjects">
                        <div class="col" style="margin:0px;padding:0px">
                            <div class="card" style="width: 18rem;padding-top:15px;margin-top:15px;">
                                <div class="display-6">{{l.name}}</div>
                                <img v-bind:src="l.img" class="rounded mx-auto d-block" v-bind:alt='l.img'
                                    style="height: 80px;width: 80px;">
                                <div class="card-body">
                                    <p>
                                        <mark class="display-6">{{l.cur}} {{l.price}}</mark>
                                        <br> was:<del>{{l.cur}} {{l.price+8}}</del>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Toggle True: Cart View -->
        <div v-else>
            <h2>else</h2>
        </div>
    </div>
</body>

<script>
    let app = new Vue({
        el: "#VueApp",
        data: {
            subjects: lessonsObj,
            cart: [],
            toggle: true,
            sort: 1, // Assending order 1, deassending order 2
            name: "",
            phone: "",
            order: [
                {
                    order_no: "",
                    name: "",
                    phone: "",
                    subject: {
                        course_id: 0,
                        price: 0,
                        slot: 0,
                    }
                }
            ],
            search_string: "",
        }
    });
</script>

</html>