<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/lessons.js"></script>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>After School Activities</title>
</head>

<body>
    <!-- Started VUE Application here -->
    <div id="VueApp">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <h1 class="display-6">After School Activites</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-item display-6" aria-current="page" href="#"> | </a>
                        </li>
                        <div v-if="cart.length > 0">
                            <li class="nav-item">
                                <a class="nav-link display-6 active" v-on:click="toggle = !toggle" href="#"> Cart</a>
                            </li>
                        </div>
                        <div v-else>
                            <li class="nav-item">
                                <a class="nav-link display-6 disabled" href="#">Cart</a>
                            </li>
                        </div>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <!-- Toggle True: Catalogue View -->
        <div v-if="toggle">
            <div class="container text-center">
                <div class="display-6">Catalogue</div>
                <hr>
                <div class="row row-cols-3">
                    <!-- Catalogue View -->
                    <div v-for="l in subjects">
                        <div class="col" style="margin:0px;padding:0px">
                            <div class="card" style="width: 18rem;padding-top:15px;margin-top:15px;">
                                <div
                                    style="margin-top:0px;padding-top:0px;background-color: rgb(244, 244, 244);color:rgb(0, 0, 0)">
                                    <strong>{{l.location}}</strong>
                                </div>
                                <div class="display-6">{{l.name}}</div>
                                <img v-bind:src="l.img" class="rounded mx-auto d-block" v-bind:alt='l.img'
                                    style="height: 80px;width: 80px;">
                                <div class="card-body" style="margin: 0px;padding:0px; padding-bottom: 4px;">
                                    <div style="margin: 0px;padding:0px;border: 1px dotted;">AVAILABLE SLOTS
                                        <strong>{{l.slots}}</strong>
                                    </div>
                                    <br>
                                    <p style="margin: 0px;padding:0px;">
                                        <mark style="margin: 0px;padding:0px;" class="display-6">{{l.cur}}
                                            {{l.price}}</mark>
                                        <br> was:<del>{{l.cur}} {{l.price+8}}</del>
                                    </p>
                                    <div v-if="l.slots > 0">
                                        <button type="button" class="btn btn-success btn-sm"
                                            v-on:click="addCart(l);l.slots--">ADD</button>
                                    </div>
                                    <div v-else>
                                        <button type="button" class="btn btn-success disabled btn-sm">ADD</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Toggle True: Cart View -->
        <div v-else>
            <div class="container">
                <div class="container text-center">
                    <div class="display-6">Cart</div>
                    <hr>
                    <div class="row row-cols-6">
                        <div v-for="(l,idx) in cart">
                            <div class="col" style="margin:0px;padding:0px">
                                <div class="card" style="width: 10rem;padding-top:8px;margin-top:8px;">
                                    <div
                                        style="margin-top:0px;padding-top:0px;background-color: rgb(244, 244, 244);color:rgb(0, 0, 0)">
                                        <strong>{{l.location}}</strong>
                                    </div>
                                    <div class="display-6">{{l.name}}</div>
                                    <img v-bind:src="l.img" class="rounded mx-auto d-block" v-bind:alt='l.img'
                                        style="height: 70px;width: 70px;">
                                    <div class="card-body" style="margin: 0px;padding:0px; padding-bottom: 4px;">
                                        <div style="border: 1px dotted;">QTY <strong>{{l.quantity}}</strong></div>
                                        <br>
                                        <p>
                                        <div class="leed">Rate {{l.cur}}{{l.price}}</div>
                                        <mark>Price {{l.cur}}{{l.price*l.quantity}}</mark>
                                        </p>
                                        <button type="button" class="btn btn-danger btn-sm"
                                            v-on:click="removeCart(l,idx);">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Cart Form -->
                <div class="container d-flex " style="padding: 5px;margin:5px">
                    <div class="col">
                        <div class="display-5">Personal Details</div>
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div style="padding: 5px;margin:5px;" class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" placeholder="Phone">
                        </div>
                        <button type="button" class="btn btn-success">Proceed Checkout</button>
                    </div>
                </div>
                <!-- Cart Form Ended -->
                <div style="margin:5px;padding:5px;background-color: black;color: white;"
                    class="justify-content-left row-cols-2">
                    <label class="display-6">TOTAL QTY: {{cartSum[0].qty}}</label>
                    <label class="display-6">TOTAL AMOUNT: £{{cartSum[0].sum.toFixed(2)}}</label>
                </div>
            </div>
        </div>
        <!-- Toggle True: Cart View Ended -->
    </div>
    <!-- ENDED VUE Application here -->

    <!-- footer note -->
    <br>
    <hr>
    <footer>
        <p style="text-align: center; font-style: italic; font-size: 14px;">
            This site and content on this site is for non-commercial purpose and temporary. Any content which anyone
            found
            unauthorized could be reported to gr8shariq@gmail.com for immidiate removal.
        </p>
    </footer>

</body>

<script>
    let app = new Vue({
        el: "#VueApp",
        data: {
            subjects: lessonsObj,
            // cart[]: volatile , holding only cart item unless refresh or progress to proceed purchased
            cart: [],
            // toggle: toggle between cart and catalogue
            toggle: true,
            sort: 1, // Assending order 1, deassending order 2
            name: "",
            phone: "",
            cartSum: [],
            // order[]: Order Number carrying ordered only, data moved from cart
            order: [
                {
                    order_no: "",
                    name: "",
                    phone: "",
                    subject: {
                        course_id: 0,
                        price: 0,
                        quantity: 0,
                    }
                }
            ],
            search_string: "",
        },
        methods: {
            // Putting Item into CART
            addCart(obj) {

                // Inserting First Item in Cart
                if (this.cart.length <= 0) {
                    // Insert Quantity Key in object
                    const new_obj = {
                        ...obj, quantity: 1
                    }
                    //Delete Slots key
                    delete new_obj.slots;

                    //That what meant be be hold in cart
                    // {
                    //     "id": 8,
                    //     "name": "Music",
                    //     "img": "img/Music.jpg",
                    //     "price": 103.9,
                    //     "location": "London",
                    //     "cur": "£",
                    //     "quantity": 1
                    // }

                    // Pushing first item in cart
                    this.cart.push(new_obj);

                    // Insert further Items in Cart
                } else {

                    // Locate whether the selected course is already in Cart or not
                    let found = false;
                    // if found just quantity++
                    for (const ob of this.cart) {
                        if (ob.id === obj.id) {
                            ob.quantity++;
                            found = !found
                            break;
                        }
                    }

                    // found===false means new object meant to added
                    if (found === false) {
                        const new_obj = {
                            ...obj, quantity: 1
                        }
                        //Delete Slots key
                        delete new_obj.slots;
                        this.cart.push(new_obj);
                    }

                }

                this.resetCartTotal()

            },
            removeCart(l, idx) {
                
                // if that item in cart is only one quantity, require to splice from cart
                // adding further value into subjects on selected id
                if (this.cart[idx].quantity === 1) {

                    cid = this.subjects.find(i => i.id === l.id);

                    cid.slots++;

                    this.cart.splice(idx, 1);

                // if selected item are more than one quantity require minus one quantity each time
                // adding further value into subjects on selected id
                } else {

                    cid = this.subjects.find(i => i.id === l.id);

                    cid.slots++;

                    this.cart[idx].quantity--;

                }

                this.resetCartTotal();
            },
            // Obtaining sum of total, and total quantity
            cartTotal() {
                var sum = 0;
                var qty = 0;

                this.cart.forEach(element => {
                    sum += (element.price * element.quantity)
                    qty += (element.quantity)
                });
                if (this.cart.length <= 0) this.toggle = !this.toggle;

                return { sum: sum, qty: qty };
            },
            resetCartTotal() {
                if (this.cartSum.length > 0) {
                    this.cartSum.splice(0);
                    this.cartSum.push(this.cartTotal());
                }
                else {
                    this.cartSum.push(this.cartTotal());
                }
            }
        },
        computed: {

        },
    });
</script>

</html>